*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background-color: #f0ca4f;
}
@font-face {
    font-family: 'Figtree-ExtraBold';
    src: url(Figtree-ExtraBold.ttf);
}
@font-face {
    font-family: 'Figtree-SemiBold';
    src: url(Figtree-SemiBold.ttf);
}
@font-face {
    font-family: 'Figtree-VariableFont_wght';
    src: url(Figtree-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Figtree-Italic-VariableFont_wght';
    src: url(Figtree-Italic-VariableFont_wght.ttf);
}
.first-border{
    border: 1px solid black;
    height: 28em;
    width: 20em;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 3px rgba(0, 0, 0);
}
.second-border img{
    max-width: 90%;
    margin-left: 17px;
    margin-top: 10px;
    border-radius: 10px;
}
.first-border h3{
    margin-left: 17px;
    background-color: #f0ca4f;
    width: 65px;
    padding: 8px;
    font-family: 'Figtree-ExtraBold';
    border-radius: 4px;
    font-size: 12px;
}
.text h3 a{
    color: black;
    text-decoration: none;
}
.text a:hover{
    text-decoration: underline;
}
.text p{
    margin-left: 17px;
    font-family: 'Figtree-SemiBold';
    font-weight: lighter;
    font-size: 14px;
}
.text h1{
    margin-left: 17px;
    font-size: 20px;
    font-family: 'Figtree-ExtraBold';
}
.text h1 + p{
    color: rgba(0, 0, 0, .4);
    line-height: 20px;
}
.footer img{
    width: 30px;
    margin-left: 17px;
    padding-top: 15px;
}
.footer p{
    display: inline;
    font-family: 'Figtree-ExtraBold';
    position: relative;
    bottom: 11px;
    right: 10px;
    margin: 18px;
    font-size: 12px;
    font-weight: bolder;
}